<html>

<head>

<title>CoffeeScript Test</title>

<!-- PAGE JAVASCRIPT -->

<script src="libs/jquery-1.7.2.min.js"></script>
<script src="libs/jquery-ui-1.8.21.custom.min.js"></script>
<script src="libs/underscore-min.js"></script>
<script src="libs/backbone-0.9.2.min.js"></script>

<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script src="js/secretary.js"></script>

<!-- PAGE CSS -->

<link rel="stylesheet" type="text/css" href="libs/smoothness/jquery-ui-1.8.21.custom.css"/>
<link rel="stylesheet" type="text/css" href="css/game.css"/>
<link rel="stylesheet" type="text/css" href="css/calEvent.css"/>
<link rel="stylesheet" type="text/css" href="css/supplicant.css"/>
  
</head>

<!-- <body>  
<!-- test game -->
<div id="testBackground" class="gameArea">
  <div id="username" class="test-blue">
    {{nickname}}
  </div>
  <div id="logout" class="test-blue">
    (<a href="{{logout_url}}">Logout</a>)
  </div>
  <div id="supplicantContainer" class="test-blue">
    <div id="supplicantGroup" class="test-orange">
    </div>
  </div>
  <div id="calendar" class="test-purple"></div> 
  
  <!-- debug - begin -->
  <form id="bigAddEventForm" class="test-green">
    <button id="bigAddEvent">Click To Add Event</button>
  </form>
  <!-- debug - end -->
</div>

<!-- game element prototypes -->
<div id="prototypes">
  
  <!-- a calendar event -->
  <div class="calEventView test-blue">
    <div id="data">
      <div id="name" class="test-green">Name</div>
      <div id="title" class="test-red">Title</div>
      <div id="time" class="test-yellow">Time</div>
    </div>
    <img id="avatar" class="test-yellow">
  </div>
  
  <!-- calendar event edit dialog -->
  <div class="editCalEventView">
    <input id="title" type="text"/>
    <!-- <input id="attendees" type="text"/> -->
    <!-- <div id="buttonPanel" class="test-blue">
      <button id="ok">Ok</button>
      <button id="cancel">Cancel</button>
    </div> -->
  </div>  
  
  <!-- a supplicant -->
  <div class="supplicantView test-purple">
    <div id="name" class="test-green">Name</div>
    <div id="points" class="test-blue">Points</div>
    <div id="title" class="test-red">Title</div>
    <div id="constraints" class="test-yellow">Constraints</div>
    <div id="mood" class="test-orange">Mood</div>
    <img id="avatar"> <!-- class="test-green"> -->
  </div>
</div>  


</body>

</html>