.calEventView {
  position: absolute;
  left: 0px;
  top: 0px;
  
  width: 90px;
  height: 80px;
  
  border: 1px rgb(64, 64, 64) solid;
}

.calEventView #data {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.calEventView #name {
  position: static;
  font-size: 16;
  width: 100%;
}

.calEventView #title {
  position: static;
  font-size: 11;
  width: 100%;
}

.calEventView #avatar {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 67px;
  top: -7px;
}