/* game area for all games */

#gameArea {
  position: absolute;

  width: 1058px;
  height: 676px;

  /* center it */
  left: 50%;
  margin-left: -529;

  font-family: "Helvetica", Helvetica, sans-serif;
  background-image:url('/imgs/background-loading.png');
}

#gameArea div {
  position: inherit;
}

#gameArea #username {
  left: 454px;
  top: 23px;

  font-size: 24px;

  color: white;
  width: 500px;
  text-align: right;
}

#gameArea #logout {
  left: 959px;
  top: 26px;
  font-size: 20px;
  color: white;
}

#gameArea #logout a {
  color: white;
}

#gameArea .modeDependant {
  visibility: hidden;
}

#calendar {
  width: 630px;
  height: 320px;
  left: 82px;
  top: 313px;
}

/* timer information */

#remaining {
  position: absolute;
  left: 48px;
  top: 233px;
  color: #515151;
  font-weight: bold;
  font-size: 41px;
}

/* debug - begin - add calendar button */

#testAddCalendar {
  position: absolute;
  left: 50px;
  top: 176px;
}

/* debug - end */

/* covers up other elements */

#cover {
  position: absolute;
  left: 30px;
  top: 55px;
  z-index: 3000;
  width: 700px;
  height: 600px;
  opacity: 0.65;
  background-color: white;
  visibility: hidden;
}

/* game elements */

#prototypes {
  visibility: hidden;
}

