/* game area for all games */

.gameArea {
  position: absolute;

  width: 1058px;
  height: 676px;

  /* center it */
  left: 50%;
  margin-left: -529;

  font-family: "Helvetica", Helvetica, sans-serif;
}

.gameArea div {
  position: inherit;
}

.gameArea #username {
  left: 454px;
  top: 23px;

  font-size: 24px;

  color: white;
  width: 500px;
  text-align: right;
}

.gameArea #logout {
  left: 959px;
  top: 26px;
  font-size: 20px;
  color: white;
}

.gameArea #logout a {
  color: white;
}

#calendarArea {
  left: 10px;
  top: 10px;
  width: 630px;
  height: 320px;
  left: 82px;
  top: 313px;
}

/* test game */

#testBackground {
 background-image:url('/imgs/background-test.png');
}

/* game elements */

#prototypes {
  visibility: hidden;
}

